
<form method = "POST" action = "/api/task/add">

 <label>Task</label> <br>
 <input type = "hidden" name = "id" value = {{uid}}>

 <input type = "text" name = "description" placeholder = "Enter task here" >

 <button>Submit</button>

</form>