<h1>Sign Up Form</h1>

<form method = "POST" action = "/api/user/signup">
   <label>Username</label>
   <input type = "text" placeholder = "Enter username" name = "username" value = ""> <br> <br>

   <label>Email</label>
   <input type = "text" placeholder = "Enter email" name = "email" value = ""> <br> <br>

   <label>Password</label>
   <input type = "password" placeholder = " Enter password" name = "password"> <br> <br>

  <hr>
   <button>Sign Up</button>
   
</form>